@model UnlaLibrary.Data.Entities.Usuario
@{
    Layout = "~/Views/Shared/_LayoutLogOn.cshtml";
    ViewData["Title"] = "Usuario";
}

@section scripts{
    <script></script>
}

<!DOCTYPE html>
<html lang="es">

<head>
</head>

<body>

    <div class="w-100 d-flex justify-content-center pb-3">
        <div class="w-75r d-flex flex-column align-items-center">
            <h2 class="display-5 my-3">Usuario</h2>
            <h6 class="my-3">AGREGAR NUEVA USUARIO</h6>
            <form class="my-4 d-flex flex-column justify-content-center align-items-start w-50r border border-secondary rounded p-3"
                  asp-controller="Usuario" asp-action="Create" method="post">
                <div class="w-100">
                    <label for="archivo" class="form-label">Nombre</label>
                    <input type="text" maxlength="60" mixlength="3"  class="form-control mb-2" placeholder="Nombre "
                           asp-for="Nombre" required />
                </div>

                <div class="w-100">
                    <label for="archivo" class="form-label">Apellido</label>
                    <input type="text" maxlength="60" mixlength="3" class="form-control mb-2" placeholder="Apellido "
                           asp-for="Apellido" required />
                </div>

                <div class="w-100">
                    <label for="archivo" class="form-label">Dni</label>
                    <input type="text" maxlength="60" mixlength="3" class="form-control mb-2" placeholder="Dni "
                           asp-for="Dni" required />
                </div>

                <div class="w-100">
                    <label for="archivo" class="form-label">Email</label>
                    <input type="text" maxlength="60" mixlength="3" m class="form-control mb-2" placeholder="Email "
                           asp-for="Email" required />
                </div>

                <div class="w-100">
                    <label for="archivo" class="form-label">TipoUsuario</label>
                    <select class="form-select my-2" asp-for="IdTipoUsuario" asp-items="@(new SelectList(ViewBag.Tipos,"IdTipoUsuario","NombreTipoUsuario") )">
                        <option selected disabled>Seleccionar tipo de usuario</option>
                    </select>
                </div>
                <div class="w-100 d-flex justify-content-center m-2">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <button class="btn btn-secondary mx-2" type="reset">Resetear</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>