<div class="w-100 banner d-flex flex-column justify-content-end align-items-center">
    <div class="flex-grow-1 d-flex justify-content-center align-items-center">
        <h2 class="page-title">CATÁLOGO</h2>
    </div>
    <form class="d-flex flex-column font-raleway">
        <div class="form-group d-flex w-100 search-bar">
            <input type="search" maxlength="50" placeholder="¿Qué desea buscar?" />
            <select>
                <option selected>Título</option>
                <option>Palabra clave</option>
                <option>Autor</option>
            </select>
            <button type="submit">Buscar</button>
        </div>
    </form>
</div>