
<!DOCTYPE html>
<html lang="es">

<head>
    <link href="@Url.Content("~/css/common.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="d-flex flex-column align-items-center w-100 py-4">
        <h2 class="display-5 my-3">Agregar Material</h2>

        <form class="my-4 d-flex flex-column justify-content-center align-items-start w-50r">
            <select class="form-select my-2">
                <option selected disabled>Seleccionar materia</option>
                <option value="idMateriaProgramacion">Programación</option>
                <option value="idMateriaMatematica">Matemática</option>
            </select>
            <select class="form-select my-2">
                <option selected disabled>Seleccionar universidad</option>
                <option value="1">Universidad de lanus</option>
                <option value="2">UBA</option>
            </select>
            <div class="w-100">
                <label for="archivo" class="form-label">Archivo</label>
                <input type="file" class="form-control mb-2" accept=".pdf" placeholder="eliga un archivo" id="archivo" />
            </div>
            <div class="w-100">
                <label for="archivo" class="form-label">Miniatura</label>
                <input type="file" class="form-control mb-2" accept="image/*" placeholder="eliga un archivo" id="miniatura" />
            </div>
            <!--
            <select class="form-select my-2">
                <option selected disabled>Seleccionar tipo de archivo</option>
                <option value="idMateriaProgramacion">Libro</option>
                <option value="idMateriaMatematica">Video</option>
                <option value="idMateriaMatematica">Audio</option>
            </select>
                -->
            <div class="w-100">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" placeholder="" maxlength="100">
            </div>
            <div class="w-100">
                <label for="autor" class="form-label">Autor</label>
                <input type="text" class="form-control" id="autor" placeholder="" maxlength="80">
            </div>
            <div class="w-100">
                <label for="descripcion" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" placeholder="">
            </div>
            <div class="w-100">
                <label for="prologo" class="form-label">Prólogo</label>
                <textarea class="form-control" id="prologo" rows="3"></textarea>
            </div>
            <select class="form-select my-2">
                <option selected disabled>Seleccionar idioma</option>
                <option value="1">Español</option>
                <option value="2">Inglés</option>
            </select>
            <button type="submit" class="btn btn-primary my-2">Subir</button>
        </form>
    </div>
</body>
</html>